<% if !user_signed_in? %>

<div class="row">
<%#= link_to(image_tag("bg1", :style => "position: relative; width: 100%;"), '/') %>
</div>
<div class="row">
<figure>
    <h3 class="titleleftktree tbleuf">
      Se renseigner
    </h3>
<p class=" tbleuf textwelcktreeleft">
      Avec un accès simplifié et plus original de toutes les <b style="border-radius: 5px; background-color: #226070; color: #00ff97">informations certifiées</b> sur l'Autisme en France grâce aux rapports conjoints de la <b style="background-color: #226070; color: #00ff97; border-radius: 5px">HAS (2010 + 2012) et de la CNSA (2016)</b>
</p>
<%= image_tag("bg2", :style => "position: relative; width: 100%;") %>
</figure>
</div>
<div class="row">
<!--  <div class="col-lg-12 col-md-12 col-xs-12 placeright ">
    <h3 class="titlerighpath tbleuf" style="font-family: serif">
      La voie vers le diagnostic
    </h3>
    <div class="row" style="padding: 15px">
      <p class="col-lg-6 col-md-6 col-xs-6 tbleuf textright">
        Partant du constat du manque d'informations claires, actuelles et de guidance en ligne concernant les démarches et leurs déroulement complet pour un parent lors du dépistage et du diagnostic de son enfant, ainsi que de la diversité des domaines ainsi que des acteurs impliqués dans ces démarches, nous avons créés différents modules : <li class="textright tbleuf">Listant les différentes étapes par lesquelles les familles devront passer</li><li class="textright tbleuf">Comportant par ailleurs tous les différents recours possibles si une étape ne se passe pas comme prévu</li><p  class="textright tbleuf">Afin de soulager et d'informer la famille dans le parcours du combattant qui l'attends</p>
      </p>
    </div> 
  </div>-->
<figure>
    <h3 class="titlerighpath tbleuf">
      La voie <br><b class="tbleuf">vers le diagnostic</b>
  </h3>
<p class="tbleuf  textwelcright placerightpark1">
        Partant du constat du manque d'informations claires, actuelles et de guidance en ligne concernant les démarches et leurs déroulement complet pour un parent lors du dépistage et du diagnostic de son enfant, ainsi que de la diversité des domaines et des acteurs impliqués dans ces démarches, nous avons créés différents modules, afin de soulager et d'informer la famille. : 
</p>
        <li class=" tbleuf textwelcright placerightpark2">
          Listant les différentes étapes par lesquelles elles devront passer
        </li>
        <li class=" tbleuf textwelcright placerightpark3">
          Comportant par ailleurs tous les différents recours possibles si une étape ne se passe pas comme prévu
        </li>
        <p  class=" tbleuf textwelcright placerightpark4">

        </p>
<%= image_tag("background3", :style => "width: 100%;") %>
</figure>
</div>
<div class="row">
<figure>
    <h3 class="titleleftpath">
      S'informer </br>et localiser</b>
  </h3>
<p class="textwelcleft placeleftpark1">
        Nous répertorions dans notre module de carte interactive les institutions françaises suivantes :
</p>
        <li class="textwelcleft placeleftpark2">
          Les Centre Réferents de Diagnostic d’Autisme
        </li>
        <li class="textwelcleft placeleftpark3">
          Les Centre de Recherche et de Diagnostic
        </li>
        <li class="textwelcleft placeleftpark4">
          Les MDPH
        </li>
        <li class="textwelcleft placeleftpark5">
          Les associations
        </li>
        <li class="textwelcleft placeleftpark6">
          Les CRA (Centres de Ressources Autisme)
        </li>
<%= link_to(image_tag("background4", :style => " width: 100%;"), 'https://site-ref-adjivas.herokuapp.com/structures') %>
</figure>
</div>
<div class="row">
<figure>
    <h3 class="welcsmartphonetitle tbleuf">
      Découvrez nos applications et </br>avec elles <b>participez à la recherche</b> 
    </h3>
<p class=" tbleuf textwelcktreeleft">
      Avec un accès simplifié et plus original de toutes les <b style="border-radius: 5px; background-color: #226070; color: #00ff97">informations certifiées</b> sur l'Autisme en France grâce aux rapports conjoints de la <b style="background-color: #226070; color: #00ff97; border-radius: 5px">HAS (2010 + 2012) et de la CNSA (2016)</b>
</p>
<%= image_tag("smartphonewelc", :style => "position: relative; width: 50%;") %>
</figure>
</div>

<% else %>

   <div class="dboard container-fluid" style="padding: 30px">

   <div class="col-lg-4 col-md-4 col-xs-12" style="padding: 30px;">
<%= image_tag 'newss', options={:alt => "Home", :class => "img-responsive", :style => "height: 22em; border-radius: 5em"} %>
</div>
<div class="col-lg-4 col-md-4 col-xs-12" style="padding: 30px;">
<div href="/users/sign_in" role="button" style="padding-top: 2em; padding-left: 2em; font-size: 2em; border-radius: 3em; height: 11em; width: 90%; border-width: 0; padding-bottom: 30px; color: #000080; background-color: #00ff97;">Ressources</div>
</div>
<!--</div>
<div class="row" style="margin-left: 15px">-->
<div class="col-lg-4 col-md-4 col-xs-12" style=" padding: 30px;">
<%= image_tag 'ktree2', options={:alt => "Home", :class => "img-responsive", :style => "height: 22em; border-radius: 5em;"} %>
</div>

<div class="col-md-1"></div>
<div class="col-lg-12 col-md-10 col-xs-12" style="padding: 30px;">
  <div class="hitch">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xs-2"><button class="hitchbutton"></button></div>
    <div class="col-md-2 col-lg-2 col-xs-2"><button class="hitchbuttontwo"></button></div>
    <div class="col-md-2 col-lg-2 col-xs-2"><button class="hitchbuttonthree"></button></div>
    <div class="col-md-6 col-lg-6 col-xs-6"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xs-2"><p>Premiers pas</p></div>
      <div class="col-md-2 col-lg-2 col-xs-2" style="margin-left: 2%" ><p>Seconde partie</p></div>
      <div class="col-md-2 col-lg-2 col-xs-2"><p>Troisieme partie</p></div>
      <div class="col-md-6 col-lg-6 col-xs-6"></div>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
</div>
<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%# else %>

<% end %>
