
<div class="row bgbleuf">
<div class ="row bgbleuf appading">
  <div class="col-lg-12 col-md-12 col-xs-12 bgbleuf mnplacetop"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 bgbleuf placeright">
  <h1 class="titleright tvertf"> Ma nuit</h1>
  <div class="row"><p class="col-lg-6 col-md-6 col-xs-6 tvertf textright">Hormis les troubles dans la communication et l'interaction sociale, le sommeil reste l'une des gênes les plus rapportés par les individus avec TSA et/ou leurs familles. En moyenne, entre 44 et 83% des enfants avec troubles du spectre autistique ont également des troubles du sommeil, le principal étant l'insomnie. Ces troubles du sommeil augmente les comportements problématiques chez les enfants avec troubles du spectre autistique: hyperactivité, déficit attentionnel, anxiété, hypersensitivité, comportements stéréotypés, … </br>L'objectif de l'application Ma Nuit est de fournir un outil de suivi du sommeil des enfants avec troubles du spectre autistique. De plus, cette application permettra de tester l'inter-opérabilité des applications de l'écosystème Interact en se mettant en contact avec l'application Mon Quotidien à travers le Back End—i.e. l'API Interact. L'idée serait de donner un moyen aux familles de detecter des facteurs comportementaux ou environnementaux ayant un impact sur le sommeil.</p>
    </div></div></div>
    <div class="col-lg-12 col-md-12 col-xs-12 bgvertf appading">
  <h1 class="titleleft tbleuf"> Mon quotidien</h1>
  <div class="row">
    <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textleft">Actuellement, les éducateurs utilisent une série de feuille-classeurs et des “cliqueurs” (boutons physique à attacher à sa ceinture pour dénombrer en un clic le nombre d’actions relevées).
Mon Quotidien est le résultat d’une réflexion commune dans le but de faciliter et d’accompagner le quotidien des parents et éducateurs s’occupant des personnes atteintes d'autisme.</p>
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textleft">Premièrement l’application servira à accélérer le processus de prise de note par le biais de l’application. L’application est conçu de sorte à ce que les utilisateurs puissent personnaliser totalement les actions mises en places via la méthode ABA et de stocker ce qui en résulte.
Les référants auront un accés sur l’application permettant aux éducateurs et tuteurs de visualiser des graphs statistiques et/ou de générer des feuilles excel comportant la correlation de plusieurs informations sur le patient.</p>
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textleft">Une fois que les tuteurs et éducateurs auront pris en main l’application et qu’un grand nombre de données seront récoltés, avec l’accord des utilisateurs, une sous-partie de ces informations sera partagée à l’ensemble des acteurs. Cela permettra aux éducateurs, parents, patients, cliniciens et chercheurs de manipuler ces données et ainsi trouver des nouvelles manières d’aider les enfants avec difficultés cognitives.</p>
    </div></div>
    <div class="col-lg-12 col-md-12 col-xs-12 appading" style="background-color: white">
      <div class="col-lg-12 col-md-12 col-xs-12 placeright">
  <h1 class="titleright tbleuf"> Ma voix</h1>
  <div class="row">
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textright" >MaVoix est une application de communication par images pour personnes avec TSA. Vous vous demandez peut-être en quoi cette application est différente des autres déjà existantes?</p>
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textright" >Elle a été créée grâce à la collaboration de personnel médical, de chercheurs, de psychologues spécialisés en Analyse Appliquée du Comportement, de parents d'enfants autistes, de jeunes autistes et d'étudiants en informatique. Ces différents acteurs ont mis en commun leurs compétences afin de répondre au mieux aux besoins du quotidien des familles et des professionnels. </p>
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textright" >MaVoix est un système de communication par image sous forme d'une application gratuite et disponible à tous. Cette appli est entièrement personnalisable afin de pouvoir s'ajuster aux particularités de chaque utilisateur. Ainsi, vous pouvez facilement la paramétrer pour mettre en place un apprentissage de la communication ou pour l'utilisation d'images maîtrisées. La taille et le nombre des images est réglable ainsi que l'ajout d'une voix en support des visuels. Une banque d'image est d'emblée disponible mais il est possible à chaque utilisateur d'ajouter des images, des photos ou de courtes vidéos pour personnaliser votre utilisation. </p>
  <p class="col-lg-6 col-md-6 col-xs-12 tbleuf textright" >Le partenariat entre MaVoix et  l'Institut Pasteur vous permet en outre, si vous le souhaitez, de partager certaines informations avec les équipes de chercheurs via InterAct et ainsi de permettre l'avancée de la recherche sur l'autisme.</p>
  </div></div>
    </div>
    </div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Description</th>
      <th>From</th>
      <th>Logo</th>
      <th>Published</th>
      <th>Message</th>
      <th>Reply</th>
      <th>User</th>
      <th>Admin</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <% if project.approved == 1 || (user_signed_in? && (current_user.is_admin? || current_user == project.user)) %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.link %></td>
          <td><%= project.description %></td>
          <td><%= project.from %></td>
          <td><%= project.logo %></td>
          <td><%= project.published %></td>
          <td><%= project.message %></td>
          <td><%= project.reply %></td>
          <td><%= project.user ? project.user.email : "" %></td>
          <td><%= project.admin ? project.admin.email : "" %></td>
          <td><%= project.approved == 1 ? "accepted" : (project.approved == "2" ? "refused" : "pending") %></td>
          <td><%= link_to 'Show', project %></td>
          <% if user_signed_in? %>
            <% if current_user.is_admin? || (current_user == project.user && project.approved == 0) %>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <% end %>
            <% if current_user.is_admin? || current_user == project.user %>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
