<%#= image_tag("loutre", :style => "position: relative; width: 10%;") %>
<%#= image_tag("suricate", :style => "position: relative; width: 10%;") %>
<style>
body {
  background-color: #226070;
}
</style>
<div id="grd" class="row">
<h1 style="color: #00ff97; margin-left: 27%">Connexion</h1><a class="navbar-brand"><%= link_to(image_tag("interactblanc", size: "400x150"), '/', :style => "position: relative; margin-left: 24%", :class => "logox1") %></a>
<div class="row" style="padding-left: 20%">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1" style="background-color: #00ff97; color: #226070; border: 0; font-size: 20px;">
          Addresse <%= f.label :email %> : 
        </span>
        <%= f.email_field :email, autofocus: true, :style => 'height: 105%; width: 500px; background-color: #00ff97;border: 0; font-size: 45px;font-family: "Times New Roman", Georgia, Serif;' %>
      </div>
    </div>

    <div class="field">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1" style="background-color: #00ff97; color: #226070; border: 0; font-size: 20px;">
          <%= f.label :password %> : 
        </span>
        <%= f.password_field :password, autocomplete: "off", :style => 'height: 105%; width: 553px; background-color: #00ff97;border: 0; font-size: 45px;font-family: "Times New Roman", Georgia, Serif;' %>
      </div>
    </div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, :style => "width: 50px; height: 50px" %>
      <%= f.label :remember_me, :style => "font-size: 35px; font-color: #00ff97" %>
    </div>
  <% end -%>
    <div class="actions" style="padding-left: 15%">
      <%= f.submit "Connexion", :class => "btn btn-block btn-lg btn-info", :style => "border-radius: 30px;padding: 15px;width: 230px; color: #00ff97; border-color: #00ff97; font-size: 200%; letter-spacing: 3px" %>
    </div>
    <%= render "devise/shared/links" %>
<% end %>
</div>
</div>
