<!DOCTYPE html>
<html>
<head>
  <title>Interact-autisme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdn.rawgit.com/konvajs/konva/0.13.0/konva.min.js' %>
  <%= html_import_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div id="navbar-full">
  <div id="navbar">
    <nav class="navbar navbar-ct-green navbar-transparent navbar-fixed-top" style="background-color: #226070" role="navigation">
      <div class="alert alert-success hidden">
        <div class="container" style="color: red">
          <b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </div>
      </div>
      <div class="container">
        <div class="navbar-header" style="text-align: center">
          <%= link_to(image_tag("interactblanc", size: "160x60"), '/', :style => "position: relative;", :class => "logox") %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-app">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <!--<a class="navbar-brand"><%#= link_to(image_tag("interact", size: "120x60"), '/') %></a>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-app">
          <ul class="nav navbar-nav">
            
            <div class="border motto col-md-6 col-lg-6 col-sm-6 col-xs-6"><%= link_to(image_tag("interactblanc", size: "200x60"), '/', :style => "position: relative; margin-left: 5%;margin-top:10px;", :class => "logox1") %></div>  
                <% if !user_signed_in? %>

                   
                     <div class="col-xs-3 col-sm-3 col-md-5 col-lg-5">
                       <button class=" btn btn-round btn-default pull-right" style="margin-right: 3%;margin-left: 1%;background-color: #00FE7E; border-width: 0; color: #000080">
                     <a href="/users/sign_in">
                         
                         </a>
                         Connexion
                       </button>
                      </div>
                    
                  
                      <div class="col-sm-3 col-md-1 col-xs-3 col-lg-1 p0">          
                      <button class="pull-left sout btn btn-round btn-default pull-right">
                        S'inscrire
                     <a href="/users/sign_up">
                    </a>
                      </button>
                      </div>
                    
                  
                <% else %>
                  <a href="/users/edit"><button class="btn btn-round btn-default" style="background-color: #00FE7E; border-width: 0; color: #000080;margin-right: 3%;margin-left: 1%;">Mon compte</button></a>
                  <a href="/users/sign_out"><button class="sout btn btn-round btn-default ">Se déconnecter</button></a>
                <% end %>
            </ul>
                      <ul class="nav navbar-nav">
                  <% if current_user.is_admin? %>
                  <li><%= link_to('User', users_path) %></li>
                  <li class="col-lg-3 col-md-3 col-xs-6 p0 text-center"><%= link_to('Liste des langages', languages_path, :class => "navtext") %></li>
                  <li class="col-lg-3 col-md-3 col-xs-6 p0 text-center"><%= link_to('Type d\'établissement', juridicals_path, :class => "navtext") %></li>
                  <li class="col-lg-3 col-md-3 col-xs-6 p0 text-center"><%= link_to('Liste des départements', departements_path, :class => "navtext") %></li>
                  <% end %>           
                  <li class="col-lg-3 col-md-3 col-xs-6 p0 text-center"><a class= "navtext" href="/ktree/index">L'arbre des connaissances</a></li>
                  <li class="col-lg-2 col-md-2 col-xs-6 p0 text-center"><a class= "navtext" href="/diagnostics">Les parcours</a></li>
                  <li class="col-lg-2 col-md-2 col-xs-6 p0 text-center"><a class= "navtext" href="/structures">Carte des structures</a></li>
                  <li class="col-lg-3 col-md-3 col-xs-6 p0 text-center"><a class= "navtext" href="/papers">L'actualité scientifique</a></li>
                  <li class="col-lg-2 col-md-2 col-xs-6 p0 text-center"><a class= "navtext" href="/projects">Nos applications</a></li>
                
            
            </ul>
            <hr style="color:#fff; width:100%;">
           </div>
         </div>
       </nav>
   </div>
</div>
</body>
</html>
